<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android" package="com.sabor.xit">
    <queries>
        <package a:name="com.dts.freefireth" />
    </queries>
    <application
        a:label="Sabor Xit"
        a:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            a:name="com.sabor.xit.MainActivity"
            a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />
                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
